<div class="container">
  <div>
    <form class="text-center border border-light p-5" [formGroup]="testCaseBuilderForm" (ngSubmit)="generateTestCase()">
      <div class="form-group">
        <table>
          <tr>
            <td>
              <label for="jsonDataText">Json Name</label>
            </td>
            <td>
              <textarea class="form-control" id="jsonDataText" formControlName="jsonDataText" 
                [(ngModel)]="testCaseBuilder.jsonDataText" (blur)="onBlurMethod()" rows=15></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <label for="keyName">Key Name</label>
            </td>
            <td>
              <select class="custom-select" formControlName="keyName" [(ngModel)]="testCaseBuilder.keyName">
                <option value="" disabled>Choose key</option>
                <option *ngFor="let key of keys; let i = index">
                  {{keys[i]}}
                </option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="operator">Operator </label>
            </td>
            <td>
              <select class="custom-select" formControlName="operator" [(ngModel)]="testCaseBuilder.operator">
                <option value="" disabled>Choose operator</option>
                <option value="">Equals</option>
                <option value="">Not Equals</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
                <label for="expectedValue">Expected value </label>
            </td>
            <td>
              <input class="form-control" id="expectedValue" formControlName="expectedValue" [(ngModel)]="testCaseBuilder.expectedValue">
            </td>
          </tr>
          <tr>
            <td></td>
            <td> <button type="submit" class="btn btn-default" [disabled]="!testCaseBuilderForm.valid">Generate test case</button></td>
          </tr>
        </table>
      </div>
      <!-- <div class="form-group">
        
        
      </div>
      <div class="form-group">
          
          
      </div>
      <div class="form-group">
          
          
      </div> -->
    </form>

  </div>
</div>

<!-- <form [formGroup]="profileForm">
    <textarea type="text" [formControl]="jsonData" (blur)="onBlurMethod()" ></textarea>    
  <select class="custom-select" formControlName="keyName">
    <option value="" disabled>Choose key</option>
    <option *ngFor="let key of keys" [ngValue]="key">{{key}}}</option>
    <option *ngFor="let key of keys; let i = index" [value]="keys[i].id">
      {{keys[i].name}}
    </option>
 </select>
</form> -->