<form class="border border-light p-5 col-md-10" [formGroup]="testCaseBuilderForm" (ngSubmit)="generateTestCase()">
  <p class="h4 mb-4">Test case builder</p>

  <textarea class="form-control mb-4" placeholder="Json response" id="jsonDataText" formControlName="jsonDataText"
    [(ngModel)]="testCaseBuilder.jsonDataText" (blur)="onBlurMethod()" rows=5></textarea>

  <label>keyName</label>

  <select class="browser-default custom-select mb-4" formControlName="keyName" [(ngModel)]="testCaseBuilder.keyName">
    <option value="" >Choose key</option>
    <option>status</option>

    <option *ngFor="let key of keys; let i = index">
      {{keys[i]}}
    </option>
  </select>

  <label>Operator</label>

  <select class="browser-default custom-select mb-4" formControlName="operator" [(ngModel)]="testCaseBuilder.operator">
    <option value="" disabled>Choose operator</option>
    <option value="">Equals</option>
    <option value="">Not Equals</option>
  </select>
  <input class="form-control mb-4" placeholder="Test case heading" class="form-control" id="testCaseHeading"
  formControlName="testCaseHeading" [(ngModel)]="testCaseBuilder.testCaseHeading">
  <input class="form-control mb-4" placeholder="Expected value" class="form-control" id="expectedValue"
    formControlName="expectedValue" [(ngModel)]="testCaseBuilder.expectedValue">

    <div class="row" style="padding: 15px;">
        <button mdbBtn class="btn btn-primary pull-right" type="submit" color="primary" mdbWavesEffect [disabled]="!testCaseBuilderForm.valid">Generate test case</button>        
      </div>  

      <textarea class="form-control mb-4" id="testCaseData" formControlName="testCaseData"
      [(ngModel)]="testCaseBuilder.testCaseData" rows=5 disabled></textarea>
</form>
